interfaces {
{% for int in interfaces %}
    {{ int.physical_interface }} {
        description "{{ int.description }}";
        unit 0 {
{% if int.ip_address is defined %}
            family inet {
                address "{{ int.ip_address }}";
        }
{% else %}
            family inet;
{% endif %}
        }
    } {% endfor %}
}
